body {
    font-family: Arial, sans-serif;
}

#container {
    padding: 10px;
    width: 500px;
    height: 80%;
    background-color: #00ff00;
}

#track {
    width: 500px;
    border-top: 2px solid rgb(3, 105, 88);
    border-bottom: 2px solid rgb(3, 134, 117);
    margin: 30px auto;
}

#train {
    height: 92px;
    width: 100px;
    position: relative;
    left: 0px;
    background-color:rgb(21, 255, 0)
}

#stopButton {
    padding-top: 15px;
    margin: 10px auto;
    background-color: red;
    width: 100px;
    height: 50px;
    color: greenyellow;
    text-align: center;
    font-size: 24px;
    line-height: 30px;
}